.demo {
  box-sizing: border-box;
  border: 1px solid #E4E4E8;
  margin: 1rem 0;
  padding: 2rem;
}

.code-snippet{
  margin-top: 1rem;
  font-size: 0.84rem;
  line-height: 1.2;
}

.code-snippet code, .code-snippet pre {
  padding: 0.8rem 1rem!important;
  margin: 0;
}

.code-snippet__content, .code-snippet__controls {
  display: inline-block;
  height: 36vh;
}

.code-snippet__content{
  width: calc(100% - 60px);
  margin-right: 20px;
  overflow: scroll;
}

.code-snippet__controls{
  width: 40px;
}

.code-snippet__controls div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: lightgray;
  margin-bottom: 12px;
}