.api-table td:first-child, .api-table td:nth-child(2), .api-table td:nth-child(4){
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.api-table td:first-child {
  font-weight: 600;
}

.api-table td:nth-child(2) {
  color: #932981;
}

.api-table code{
  line-height: 1.2;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  color: #356068;
  font-weight: 500;
  background-color: #ebf3f5;
  display: inline-block;
}
